html{
    background-image: url("back/MoradorBack.jpg"); 
    background-size: cover;  
}

body{
    margin: 0;
}

.boxMenu{
    padding: 0; 
}

.topMenu{
    background-color: rgb(28,28,28);
    padding: 0;
}

.menuBtn{
    font-size: x-small;
    margin-top: 2vh;
}

.imagemLogin{
    border-radius: 100%;
    height: 7vh;
    width: 3.3vw;
}

.vertical-menu {
    padding: 0;
    height: 90vh;
    background-color: rgba(47,79,79,0.9);
}

.elemento-menu{
    background-color: rgb(0,120,120);    
    margin-bottom: 0.5vh;
    padding-left: 1vw;
    padding-top: 2vh;
    padding-bottom: 1vh;
}

.vertical-menu a {  
    color: white;    
    display: inline-block;
    padding-left: 0.3vw;
    padding-top: 0.5vh;
    height: 4vh;
    width: 9vw;
    vertical-align: top;
    text-decoration: none;
    font-family: sans-serif;
}

.elemento-menu:hover{
    background-color: rgb(0,160,160);  
    font-weight: bold;
}

.active{
    border-left: 0.3vw solid rgb(0,250,154);
    background-color: rgb(0,170,170);
    font-weight: bold;
}

.icone-menu{
    height: 6vh;
    width: 6vw;
    padding-top: 0;
}

.conteudo{
    background-color: rgba(255,255,255,0.8);
    padding: 1%;
    border-radius: 10px;
}

.sucesso{
    background-color: rgba(0,139,139,0.8);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    padding: 5vw;
    display: none;
}

.sucessoNoticia{
    background-color: white;
    padding: 10px;
    width: 26vw;
    text-align: center;
    margin-left: 32vw;
}

.ui-dataview-header {
    display: none;
}

.boxCadastro{
    background-color: rgba(255,255,255,0.4);
}

.boxCadastro > h2,h3{
    margin: 0;
    border-bottom: 1px solid;
}

.sucesso{
    background-color: rgba(0,139,139,0.8);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    padding: 5vw;
    display: none;
}

.sucessoAtualizacao{
    background-color: white;
    padding: 10px;
    width: 26vw;
    text-align: center;
    margin-left: 32vw;
}

.novoDependente{
    background-color: rgba(0,139,139,0.8);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    padding: 0;
    display: none; 
    overflow-y: scroll;
}

.novoDependenteBox{
    background-color: white;
    padding: 10px;
    width: 70vw;
    margin-left: 13.3vw;
}

.novoDependenteBox > h3,h2 {
    margin: 0;
}

.dialogFormDependente {
    background-image: url("back/MoradorBack.jpg"); 
    background-size: cover;  
}

.formDependente {
    background-color: rgba(255,255,255,0.8); 
    border: 1px solid;
    padding: 1vw;
}

.boxConteudo{
    background-color: rgba(255,255,255,0.4);
}

.titH2{
    border-bottom: 1px solid;    
}

.comentarioAtendimentoMorador{
    border: 1px solid grey;
    padding: 7px;
    border-radius: 25px 25px;
}

.divImgPessoa{
    display: flex;
    align-items: center;
    text-decoration: none;    
}

.divImgPessoa:hover{
    color: #2E64FE;
    cursor: pointer;     
}

.divContato{
    background-color: #6495ED;
    width: fit-content;
    padding: 1px;
    border-radius: 20px;
    display: inline-block;    
}

.divContContato{
    display: flex;
    align-items: center;    
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-right{
    width: 11vw;
}

.ui-menubutton.ui-widget.btnMsg {
    font-size: x-small; 
    box-shadow: 0 0 20px #CBA328; 

}