html{
    background-image: url("back/MoradorNovaSenha.jpg"); 
    background-size: cover;
}

.ui-fieldset{
    background-color: rgba(255,255,255,0.8);
    width: 25vw;
    text-align: center;
    margin-left: 37vw;
    margin-top: 10vh;
    border: none;
}

.formMorador {
    background-color: rgba(255,255,255,0.8); 
    border: 1px solid;
    padding: 1vw;
}